body {
    margin: 30px 50px;
    background-color: #e2e2e2;
}

.main {
    background-color: white;
    height: 100%;
}

.btn-publish {
    float: right;
    margin-bottom: 30px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media-object{
    width: 40px;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 15px;
}
.question-info {
    margin-top: 15px;
    font-size: 13px;
    color: #999999;
}
.question-desc {
    position: relative;
    z-index: 1;
    line-height: 1.6;
}
.question-modifyicon {
    color: #999999;
}

.jumbotron {
    padding: 50px;
}