body {
    margin: 30px 180px;
    /*background-image: url("/img/bg.jpg");*/
    /*background-repeat: no-repeat repeat;*/
    /*background-size: 100%;*/
    background-color: #dce8e8;
    opacity: 90%;
}

.community-nav {

}


.main {
    background-color: white;
    height: 100%;
}

.btn-publish {
    float: right;
    margin-bottom: 30px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media {
    margin: 0;
}

.media-object {
    width: 40px;
}

.profile .section {
    margin-top: 15px;
}

.question-title {
    margin-top: 15px;
}

.question-info {
    margin-top: 15px;
    font-size: 13px;
    color: #999999;
}

.question-desc {
    position: relative;
    z-index: 1;
    line-height: 1.6;
}
.question-tag {
    font-size: 13px;
}

.question-modify-icon {
    margin: 10px;
    color: #999999;
}

.jumbotron {
    padding: 50px;
}

.comment-margin-top {
    margin-top: 30px;
}

.comment-btn {
    float: right;
    margin-bottom: 15px;
}

.comment-textarea {
    margin: 10px 0;
}

.comment-list .comment-icon {
    margin: 10px 20px 10px 0;
    font-size: 13px;
    font-weight: normal;
    color: #999;
}

.comment-list .comment-icon:hover {
    color: #99CCCC;
}

.comment-list .active {
    color: #499ef3;
}

.comment-list .comment-time {
    margin: 10px 20px 10px 0;
    font-size: 13px;
    font-weight: normal;
    color: #999;
}
.comment-list hr {
   margin-top: 0px;
}

.comment-list .comment-second-level {
    margin: 5px 0 20px 0;
    padding: 20px 15px 10px 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
}

.comment-list .comment-second-level-btn {
    margin-top: 10px;
}
