<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>基于微服务架构的信息分享社区的设计与实现</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-md-9 col-md-12 col-sm-12 col-xs-12">
            <h3>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <span th:if="${section.equals('questions')}" th:text="我的问题"></span>
                <span th:if="${section.equals('replies')}" th:text="最新回复"></span>
                <span th:if="${section.equals('draft')}" th:text="我的草稿"></span>
            </h3>
            <hr/>
            <div class="media" th:each="question : ${questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="avatar.jpg">
                    </a>
                </div>
                <div class="media-body">
                    <a href="#"><h4 class="media-heading" th:text="${question.title}"></h4></a>
                    <span th:text="${question.description}"></span>&nbsp;
                    <span class="text-desc">• <span th:text="${question.viewCount}"></span> 人关注 • <span
                            th:text="${question.commentCount}"></span> 个回复 • <span
                            th:text="${question.likeCount}"></span> 个喜欢 • <span
                            th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd  HH:mm ')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <!--首页-->
                    <li th:if="${pageInfo.getShowFirstPage()}">
                        <a th:href="@{'/profile/'+ ${section}(currPage=1)}" aria-label="First">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!--上一页-->
                    <li th:if="${pageInfo.getShowPrevPage()}">
                        <a th:href="@{'/profile/'+ ${section}(currPage=${pageInfo.getCurrPage()-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <!--显示页-->
                    <li th:if="${pageInfo.getEndPage() != 0}" th:each="page : ${pageInfo.getPages()}" th:class="${pageInfo.currPage == page}? 'active' : ''">
                        <a th:href="@{'/profile/'+ ${section}(currPage=${page})}" th:text="${page}"
                           aria-label="Pages"></a>
                    </li>

                    <!--下一页-->
                    <li th:if="${pageInfo.getShowNextPage()}">
                        <a href="#" th:href="@{'/profile/'+ ${section}(currPage=${pageInfo.getCurrPage()+1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <!--尾页-->
                    <li th:if="${pageInfo.getShowEndPage()}">
                        <a th:href="@{'/profile/'+ ${section}(currPage=${pageInfo.getEndPage()})}" aria-label="End">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-md-12 col-sm-12 col-xs-12">
            <!-- 列表组 -->
            <div class="list-group section">
                <a href="/profile/questions" th:class="${section == 'questions'}? 'active list-group-item' : 'list-group-item'">我的问题</a>
                <a href="/profile/replies" th:class="${section == 'replies'}? 'active list-group-item' : 'list-group-item'"><span class="badge">14</span>最新回复</a>
                <a href="/profile/draft" th:class="${section == 'draft'}? 'active list-group-item' : 'list-group-item'">我的草稿</a>
                <a href="#" class="list-group-item">我的收藏</a>
                <a href="#" class="list-group-item">我关注的问题</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>